.Form{
    box-shadow: 2px 2px #ccc;
    width: 50%;
    border-width: 2px 2px #eee;
    align-items: center;
    margin-left: 20px;
    padding: 100px;
}
.green{
    background-color: green
}
.red{
    background-color: red
}